{% extends "layout.html" %}
{% block title %}Productivity Tracker{% endblock %}

{% block content %}
<main class="index-main">

    <form action="/shallow" id="shallow" method="post" class="focus-form">
        <h2>Shallow Focus</h2>

        <div class="focus-div">
            <label for="shallow-minutes" class="u-hidden">Minutes</label>
            <input type="number" name="minutes" id="shallow-minutes" placeholder="Minutes" required>
            <label for="shallow-seconds" class="u-hidden">Seconds</label>
            <input type="number" name="seconds" id="shallow-seconds" placeholder="Seconds">
        </div>
        <hr>
        <label for="shallow-label">Label (optional)</label>
        <select name="label" id="shallow-label">
            <option value="" selected disabled></option>
        </select>
        
        <label for="shallow-notes">Notes (optional)</label>
        <input type="text" name="notes" id="shallow-notes">
        <button type="submit" class="primary-btn focus-form-submit ">Log</button>
    </form>

        <form action="/deep" id="deep" method="post" class="focus-form">
        <h2>Deep Focus</h2>

        <div class="focus-div">
            <label for="deep-minutes" class="u-hidden">Minutes</label>
            <input type="number" name="minutes" id="deep-minutes" placeholder="Minutes" required>
            <label for="deep-seconds" class="u-hidden">Seconds</label>
            <input type="number" name="seconds" id="deep-seconds" placeholder="Seconds">
        </div>
        <hr>
        <label for="deep-label">Label (optional)</label>
        <select name="label" id="deep-label">
            <option value="" selected disabled></option>
        </select>
        
        <label for="deep-notes">Notes (optional)</label>
        <input type="text" name="notes" id="deep-notes">
        <button type="submit" class="focus-form-submit primary-btn">Log</button>
    </form>
    
    <section class="tdl-section">
        <h2>To Do List Tracker</h2>
        <p>Tasks completed in the last 24 hours: <span>29</span> </p>
        <button class="primary-btn">Completed a task</button>
    </section>
</main>
<!-- <script src="../static/index.js"></script> -->
{% endblock %}