<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title %}{% endblock %}</title>
    <nav class="header-nav">
        <ul>
            <li><a href="/">FOCI</a></li>
        </ul>
        <ul>
            <li><a href="/statistics">Statistics</a></li>
        </ul>
        <ul>
            <li><a href="/history">History</a></li>
        </ul>
        <ul>
            <li><a href="/purchase">Purchase</a></li>
        </ul>
        <ul>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>